*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}
/* Add scroll padding for sections */
html {
    scroll-padding-top: 80px; /* Adjust this value based on your navbar height */
}
section {
  padding-top: 100px; /* Adjust according to your navbar height */
  margin-top: -80px; /* Negative margin compensates for the added padding */
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
.btn {
    display: inline-block;
    padding: 1.3rem 2.3rem;
    border: 1px solid var(--secondary-color);
    border-radius: 32px;
    background: var(--secondary-color);
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .btn:hover {
    background: var(--primary-color);
    color: #fff;
    border-color: #fff;
  }
  .main_navigation.main_navigation-scroll {
    background-color: rgba(235, 77, 85, 0.8);
    backdrop-filter: blur(10px);
  }

.container{
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container-sm{
    max-width: 1000px;
}
.section {
    margin: 4rem 0;
  }
/* Section title */
.section-title {
    max-width: 750px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  .section-title p {
    font-size: 1.3rem;
    color: var(--dark-color);
  }
  .section-title h2 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--dark-color);
    margin-bottom: 0.5rem;
  } 
  .section-title-border {
    width: 64px;
    height: 4px;
    background: var(--primary-color);
    margin: 0 auto 2rem;
  }
.text-primary {
    color: var(--primary-color);
  } 
  .text-secondary {
    color: var(--secondary-color);
  }  
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem 1.75rem;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.3);
  }
.main_navigation{
    background: transparent;
    color: white;
    padding: .8rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
}
.navbar_container{
    display: flex;
    justify-content:space-between ;
    align-items: center;

}
.main_navigation img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}
.main_navigation .main_navigation-items-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
  }
.main_navigation a{
    width: 81px;
    height: 32px;
    color: #fff;
}
.main_navigation a:hover{
    color: var(--secondary-color);
  }
 .main_navigation i{
    font-size: 1.5rem;
    
 }
 /* Mobile Menu */
 .mobile-menu {
    display: none;
  }  
 .main_navigation .mobile-menu-toggle{
    color: #fff;
    cursor: pointer;
 }
 .main_navigation .mobile_navigation-items{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0, 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;

 }
 .main_navigation .mobile_navigation-items.active{
    transform: translateX(0);
 } 
 .main_navigation .mobile_navigation-items-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
 } 
/* Banner of the header */
.banner {
    background: #000 url('../images/header-background.jpg') center center/cover
      no-repeat;  
    color: #fff;
    padding: 11.5rem 2rem 8rem;
    overflow-x: hidden;
    position: relative;
  }
  .banner .banner_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    padding-bottom: 7rem;
  }
  .banner .frame-decoration {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
  }
  .banner img {
    width: 100%;
    margin-right: -100px;
  }
  .banner h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .banner p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    line-height: 1.8;
    font-weight: 400;
  }
  /* courses */
.courses{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    padding: 1rem 0 4rem;
}
.course img {
    transition: transform 0.3s;
  } 
  .course img:hover {
    transform: scale(1.1);
  } 
  .course h3 {
    font-size: 1rem;
    font-weight: 700;
    margin: 0.5rem 0;
  }
  /* Cards */
  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem 0 4rem;
  }
  .cards img {
    width: 130px;
    margin-top: 1rem;
  } 
  .cards h3 {
    font-size: 1.25rem;
    font-weight: 700;
    margin: 1rem 0;
  }
  /* Summary Items */
  .summary-section {
    background: var(--light-color);
    color: var(--dark-color);
    padding: 4rem 2rem 5rem;
  }
  .summary-section .summary-lists {
    background: #fff;
    padding: 2rem;
  }
  .summary-section .items-title {
    background: var(--primary-color);
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 1rem 0;
  }
  .summary-section .list-item {
    padding: 1.4rem 0;
    border-bottom: 1px solid #f1f4f6;
  }
  .summary-section .list-item:last-child {
    border-bottom: none;
  }
  .information-container {
    background: url('../images/audience.jpg') top center/cover no-repeat;
    display: flex;
  }
  .information-left {
    width: 50%;
  }
  .information-content{
    background-color: var(--primary-color);
    color: #fff;
    flex:1;
    padding: 4rem;
  }
  .information-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
  }
  
  .information-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  } 
  .information-content ul li {
    line-height: 2;
    font-size: 1.2rem;
  }
  
  .information-content i {
    color: var(--secondary-color);
    margin-right: 0.5rem;
  }
  
  
@media (max-width: 1200px){
    .banner .banner_section {
        gap: 2rem;
      }
    
    .banner img {
        max-width: 500px;
        margin-right: 0;
      }
    
      .banner h1 {
        font-size: 3rem;
      }
      .courses {
        grid-template-columns: repeat(3, 1fr);
      }

}
@media (max-width: 992px){
    .banner{
        text-align: center;
      }
    
      .banner .banner_section {
        flex-direction: column;
        padding-bottom: 4rem;
      }
    
      .banner img {
        max-width: 600px;
        margin-top: 2rem;
      }
      .courses {
        grid-template-columns: repeat(2, 1fr);
      }
      .cards
       {
        grid-template-columns: 1fr;
      }
    
}
@media (max-width: 768px){
 .main_navigation-items{
    display: none;
 }
 .main_navigation .mobile-menu{
    display: block;
 }
 .main_navigation .mobile-menu-toggle {
    display: block;
    padding: 10px;
   
  }
  .information-container {
    flex-direction: column;
  }

  .information-content {
    padding: 2rem;
  }

  .information-content h2 {
    font-size: 1.5rem;
  }

  .information-content p {
    font-size: 1rem;
  }

}
@media (max-width: 576px){
    .banner {
        padding-right: 0.2rem;
        padding-left: 0.2rem;
      }
    
      .banner h1 {
        font-size: 2.5rem;
      }
    
      .banner img {
        max-width: 350px;
      }
      .courses {
        grid-template-columns: 1fr;
      }
      .summary-section .container {
        padding: 0;
      }
}
  