*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fc5d66;
  --secondary-color: #ffc05a;
  --light-color: #f9fafb;
  --dark-color: #272d35;
}
/* Add scroll padding for sections */
html {
    scroll-padding-top: 80px; /* Adjust this value based on your navbar height */
}
section {
  padding-top: 100px; /* Adjust according to your navbar height */
  margin-top: -80px; /* Negative margin compensates for the added padding */
}
html,
body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}

.container{
    max-width: 1200px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 2rem;
}
.container-sm{
    max-width: 1000px;
}
.main_navigation{
    background: black;
    color: white;
    padding: .8rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
}
.navbar_container{
    display: flex;
    justify-content:space-between ;
    align-items: center;

}
.main_navigation img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    
}
.main_navigation .main_navigation-items-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
  }
  .main_navigation a{
    width: 81px;
    height: 32px;
    color: #fff;
  }
  .main_navigation a:hover{
    color: var(--secondary-color);
  }
 .main_navigation i{
    font-size: 1.5rem;
    
 }
 /* Mobile Menu */
 .main_navigation .mobile-menu-toggle{
    color: #fff;
    cursor: pointer;
 }
 .main_navigation .mobile_navigation-items{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0, 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease;

 }
 .main_navigation .mobile_navigation-items.active{
    transform: translateX(0);
 } 
 .main_navigation .mobile_navigation-items-list{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
 } 
@media (max-width: 1200px){

}
@media (max-width: 992px){

}
@media (max-width: 768px){
 .main_navigation-items{
    display: none;
 }
 .main_navigation .mobile-menu{
    display: block;
 }
 .main_navigation .mobile-menu-toggle {
    display: block;
    padding: 10px;
   
  }
}
@media (max-width: 576px){
    
}
  